<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Delete Product</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/united/bootstrap.min.css"
          integrity="sha512-bDf5pNGht0HBv1tNSyB06LQ4D+5IV4xpCmAFKORMIQi57c8mq96hg2Wa03//JNjHEjEai1qV+ZOUcwuy70j02A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
<div th:replace="fragments/header.html :: nav"></div>
<main class="container mt-4">

    <h1>Delete Product</h1>

    <h2>You are about to delete the following product.</h2>

    <table class="table">
        <tr><th>Id:</th> <td th:text="${product.productId}"></td></tr>
        <tr><th>Product Name:</th> <td th:text="${product.productName}"></td></tr>
        <tr><th>Price:</th> <td th:text="${product.unitPrice}"></td></tr>
        <tr><th>Quantity Per Unit:</th> <td th:text="${product.quantityPerUnit}"></td></tr>
        <tr><th>Units In Stock:</th> <td th:text="${product.unitsInStock}"></td></tr>
        <tr><th>Units On Order:</th> <td th:text="${product.unitsOnOrder}"></td></tr>
        <tr><th>Reorder Level:</th> <td th:text="${product.reorderLevel}"></td></tr>
    </table>

    <form th:action="@{|/products/${product.productId}/delete|}" method="post">
        <input type="hidden" name="catId" th:value="${product.categoryId}">
        <input type="submit" class="btn btn-danger" value="Delete">
        <a th:href="@{|/products?catId=${product.categoryId}|}" class="btn btn-secondary">Cancel</a>
    </form>

</main>

</body>
</html>