.product-card
{
    width: 200px;
}

.product-card a
{
    display: inline-block;
    text-decoration: none;
}

.product-card .card-footer
{
    display: flex;
    justify-content: end;
}

#product-header {
  color:rgb(61, 61, 61);
  font-weight: 700;
  height: 65px;
}

#product-body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    height: 150px;
}

#delete:hover {
    cursor: pointer;
}